#wrapper{
	margin: auto;
}


body{
	width: 960px;
	height: 600px;
	margin: 0 auto;
}


h1{
	/*font-family: 'Myriad Pro', Arial;
	text-color: #fff;
	text-decoration: underline;
	background:#003D5F;
	max-width:300px;
	padding:10px 10px 10px 20px;
	margin-left:-3.90625%; /*-32px*/
	/*margin-bottom:20px;*/
	max-width: 100%;
	color: #234B4D;
	text-shadow: 2px 1px 2px #222255;
	padding-left: 38%;
	margin; 1em 1em;
	text-decoration: underline;
}

.moodboard1{
	border-bottom:1px dotted #CCC;
}