#wrapper{
	margin: auto;
}


body{
	width: 960px;
	height: 600px;
	margin: 0 auto;
}


h1{
	max-width: 100%;
	color: #234B4D;
	text-shadow: 2px 1px 2px #222255;
	padding-left: 38%;
	margin; 1em 1em;
	text-decoration: underline;
}

.moodboard1{
	border-bottom:1px dotted #CCC;
}